### Cómo hacer sort_values en pandas

In [2]:
# Importar librerías

import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Importar archivo

fifa20 = pd.read_csv(filepath_or_buffer = "players_20.csv")

In [4]:
fifa20.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [5]:
# Creación de otro dataset

fifa20_1 = fifa20[["short_name", "age", "height_cm", "weight_kg", "nationality", "club", 
                   "overall", "potential", "value_eur", "wage_eur", "player_positions", 
                   "power_jumping", "power_long_shots"]]

In [10]:
fifa20_1.head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
0,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",68,94
1,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW",95,93
2,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",61,84
3,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,GK,78,12
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80

#### Ordenar de menor a mayor

In [13]:
fifa20_1.sort_values("overall").head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
18277,Pan Ximing,26,182,78,China PR,Hebei China Fortune FC,48,51,40000,2000,CM,64,30
18252,A. Aksungur,18,175,72,Turkey,Denizlispor,48,65,60000,1000,CM,61,30
18251,G. Sykes-Kenworthy,19,182,78,England,Bradford City,48,65,50000,1000,GK,52,8
18250,R. Roache,19,178,74,Republic of Ireland,Blackpool,48,65,60000,1000,ST,68,41
18249,Shan Huanhuan,20,185,75,China PR,Dalian YiFang FC,48,65,70000,2000,ST,34,39

#### Ordenar de mayor a menor

In [14]:
fifa20_1.sort_values("overall", ascending = False).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
0,L. Messi,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",68,94
1,Cristiano Ronaldo,34,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW",95,93
2,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",61,84
3,J. Oblak,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,GK,78,12
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80

In [17]:
# Creación de dataset con datos del Real Madrid

realmadrid = fifa20_1[fifa20_1["club"] == "Real Madrid"]

In [28]:
# Ordenar por "overall" de mayor a menor

realmadrid.sort_values("overall", ascending = False).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

In [29]:
# Ordenar por valor en Euros de mayor a menor

realmadrid.sort_values("value_eur", ascending = False).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86
42,Casemiro,27,185,84,Brazil,Real Madrid,87,89,53500000,240000,CDM,87,81
62,Isco,27,176,79,Spain,Real Madrid,86,87,51000000,245000,"CAM, CM, LW",61,84
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17

#### Cambiar nombre a columnas

In [30]:
realmadrid.rename(columns = {"age":"edad"}).head()

,short_name,edad,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86

In [34]:
realmadrid.rename(columns = {"player_positions":"posición"}).head()

,short_name,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,posición,power_jumping,power_long_shots
4,E. Hazard,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",56,80
8,L. Modrić,33,172,66,Croatia,Real Madrid,90,90,45000000,340000,CM,68,82
18,Sergio Ramos,33,184,82,Spain,Real Madrid,89,89,31500000,300000,CB,93,62
28,T. Courtois,27,199,96,Belgium,Real Madrid,88,89,48000000,235000,GK,68,17
36,T. Kroos,29,183,76,Germany,Real Madrid,88,88,57000000,330000,CM,30,86