### 16 - Summarize Data - Parte 2
#### Cuaderno creado en Google Colab

In [37]:
# Importación de librerías
import pandas as pd
import numpy as np

In [38]:
# Importación de archivo
url = ("https://raw.githubusercontent.com/p-medelmonje/tutorial-pandas-bayes/main/marketing_data.csv")
df = pd.read_csv(url)
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,05/11/2014,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,04/08/2014,0,6,...,2,7,1,0,0,0,0,1,0,SP

In [39]:
df.shape

(2240, 28)

In [40]:
# Comparar a los clientes que aceptaron la oferta en la primera campaña con los que aceptaron la oferta en la sexta y última campaña

firstc = df[df["AcceptedCmp1"] == 1]
lastc = df[df["Response"] == 1]
print(firstc.shape, lastc.shape)

(144, 28) (334, 28)

In [41]:
# Tasa de conversión

tc1 = ((firstc.shape[0] / df.shape[0]) * 100)
print("La tasa de conversión en la primera campaña fue de " + str(tc1) + "%")

La tasa de conversión en la primera campaña fue de 6.428571428571428%

In [42]:
# Promedio general del primer dataset
firstc.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                     5324.493056
Year_Birth             1968.534722
Kidhome                   0.090278
Teenhome                  0.215278
Recency                  46.979167
MntWines                758.604167
MntFruits                55.847222
MntMeatProducts         433.638889
MntFishProducts          91.861111
MntSweetProducts         65.138889
MntGoldProds             77.131944
NumDealsPurchases         1.416667
NumWebPurchases           5.729167
NumCatalogPurchases       6.097222
NumStorePurchases         8.062500
NumWebVisitsMonth         3.534722
AcceptedCmp3              0.166667
AcceptedCmp4              0.326389
AcceptedCmp5              0.472222
AcceptedCmp1              1.000000
AcceptedCmp2              0.090278
Response                  0.548611
Complain                  0.000000
dtype: float64

In [43]:
# Promedio general del segundo dataset
lastc.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

ID                     5421.820359
Year_Birth             1969.416168
Kidhome                   0.341317
Teenhome                  0.305389
Recency                  35.383234
MntWines                502.703593
MntFruits                38.203593
MntMeatProducts         294.353293
MntFishProducts          52.050898
MntSweetProducts         38.634731
MntGoldProds             61.446108
NumDealsPurchases         2.335329
NumWebPurchases           5.071856
NumCatalogPurchases       4.203593
NumStorePurchases         6.095808
NumWebVisitsMonth         5.293413
AcceptedCmp3              0.230539
AcceptedCmp4              0.185629
AcceptedCmp5              0.275449
AcceptedCmp1              0.236527
AcceptedCmp2              0.059880
Response                  1.000000
Complain                  0.008982
dtype: float64

In [44]:
# ¿Quiénes son los más jóvenes?

print(firstc.mean()[1], lastc.mean()[1])

# No existe una diferencia significativa, pero los que compraron en la última campaña son más jóvenes

1968.5347222222222 1969.4161676646706

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [45]:
# ¿Qué cantidad de niños tienen en casa los dos grupos de clientes?

print(firstc.mean()[2], lastc.mean()[2])

# Los clientes que respondieron a la primera campaña tienen menos niños en casa que el otro grupo de clientes

0.09027777777777778 0.3413173652694611

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
# Número de días desde la última compra

print(firstc.mean()[4], lastc.mean()[4])

# Los clientes que compraron en la primera campaña tienen más días desde que compraron

46.979166666666664 35.383233532934135

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
# ¿Quiénes consumen más vino?

print(firstc.mean()[5], lastc.mean()[5])

# Los clientes que compraron en la primera campaña consumen más vino que los clientes del otro grupo

758.6041666666666 502.70359281437123

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
# Los clientes con más reclamos

print(firstc.mean()[-1], lastc.mean()[-1])

# Los clientes que compraron en la primera campaña prácticamente no tienen quejas

0.0 0.008982035928143712

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

#### Otras funciones resumidas

In [49]:
# Desviación estándar
std1 = firstc.std()
std2 = lastc.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
print("El promedio de días desde la última compra para los clientes que compraron con la primera campaña son de " 
      + str(firstc.mean()[4]) + " con una desviación de " + str(firstc.std()[4]))

El promedio de días desde la última compra para los clientes que compraron con la primera campaña son de 46.979166666666664 con una desviación de 28.380646599374746

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [51]:
# Uso de .describe para resumir las estadísticas de todas las variables

firstc.describe()

,ID,Year_Birth,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain
count,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,...,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.0,144.000000,144.000000,144.0
mean,5324.493056,1968.534722,0.090278,0.215278,46.979167,758.604167,55.847222,433.638889,91.861111,65.138889,...,6.097222,8.062500,3.534722,0.166667,0.326389,0.472222,1.0,0.090278,0.548611,0.0
std,3078.326355,13.530547,0.332677,0.445069,28.380647,333.571922,55.342079,263.292935,73.293892,54.960203,...,2.517962,2.699958,2.044653,0.373979,0.470528,0.500970,0.0,0.287580,0.499368,0.0
min,146.000000,1944.000000,0.000000,0.000000,1.000000,152.000000,0.000000,21.000000,0.000000,0.000000,...,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.0
25%,2793.750000,1957.000000,0.000000,0.000000,25.000000,502.000000,19.750000,196.000000,32.000000,22.750000,...,4.000000,6.000000,2.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.0
50%,4901.500000,1969.500000,0.000000,0.000000,45.500000,761.500000,29.500000,437.500000,76.000000,46.500000,...,6.000000,8.000000,3.000000,0.000000,0.000000,0.000000,1.0,0.000000,1.000000,0.0
75%,7896.750000,1979.000000,0.000000,0.000000,71.250000,1006.750000,87.750000,614.750000,146.250000,98.000000,...,8.000000,10.000000,5.000000,0.000000,1.000000,1.000000,1.0,0.000000,1.000000,0.0
max,10965.000000,1994.000000,2.000000,2.000000,99.000000,1493.000000,190.000000,974.000000,253.000000,194.000000,...,11.000000,13.000000,9.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,0.0